*{
	font-family: 'Economica', sans-serif;
	font-weight:400;
}
video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(../images/beach.jpg) no-repeat;
background-size: cover;
}

.container{
	margin-top: 20px;
}
h1{
	font-size: 200%;
	margin-top: 0;
}
h2{
	font-size:125%;
	font-style: italic;
	margin-top: 10px;
}
.title{
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar .navbar-default{
	background: none;
	border:none;
}

.navbar .divider-vertical {
height: 30px;
margin: 10px 15px;
border-right: 1px solid #337ab7;
border-left: 1px solid #337ab7;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 768px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}
.navbar-nav{
	font-size: 125%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer-text{
	text-align: center;
	font-size:110%;
}
.fa-chevron-left,
.fa-chevron-right{
	position:absolute;top:50%;z-index:5;display:inline-block;
}
.logo{
  max-height: 90px;
  margin: auto;
}

